@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans/NotoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSans/NotoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

